{% extends 'padre.html' %}

{% block CosaQueCambia %}
    <ul>
        {% for Xbox in Juego %}
            <li>{{Xbox}}</li>
            <div style="display: flex; column-gap: 5px;">
                <form action="{% url 'EliminarJuegoXbox' Xbox.id %}" method="post">{% csrf_token %}
                    <button type="submit"> Eliminar </button>
                </form>
                <button>
                    <a href="{% url 'EditarJuegoXbox' Xbox.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}
    </ul>

{% endblock CosaQueCambia %}
    